{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <section class='container mt-4'>
        <div class="row">
            <div class="col-4">
                {% for flash_error in app.flashes('verify_email_error') %}
                    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                {% endfor %}

                <h1>Inscription</h1>

                {{ form_errors(registrationForm) }}

                {{ form_start(registrationForm) }}
                    <fieldset class="mt-3">
                        <legend> Mes identifiants</legend>
                        {{ form_row(registrationForm.username) }}                        
                        {{ form_row(registrationForm.email) }}
                        {{ form_row(registrationForm.plainPassword, {
                            label: 'Password'
                        }) }}

                        <button type="submit" class="btn btn-primary">Inscription</button>
                    </fieldset>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </section>
{% endblock %}            

