{% extends 'base.html.twig' %}

{% block body %}
  <div class 'container mt-4'>
    <h2 class= "mx-auto" style="width: 400px">Modifier une compétition </h2>

    {% for message in app.flashes('success') %}
      <div class="alert alert-success mt-4">
        {{ message }}
      </div>
    {% endfor %}
  
    <div class="mx-auto" style="width: 400px;">
        {{ form_start(competition_edit) }}
            <div class="form-group">
                {{ form_label(competition_edit.name) }}
                {{ form_widget(competition_edit.name) }}               
                <div class='form-error'>
                   {{ form_errors(competition_edit.name) }}
            </div>

            <div class="form-group">
                {{ form_label(competition_edit.competitionName) }}
                {{ form_widget(competition_edit.competitionName) }}
                <div class='form-error'>
                    {{ form_errors(competition_edit.competitionName) }}
            </div>  

            <div class="form-group">
                {{ form_label(competition_edit.location) }}
                {{ form_widget(competition_edit.location) }}
                <div class='form-error'>
                    {{ form_errors(competition_edit.location) }}
            </div>

            <div class="form-group">
                {{ form_label(competition_edit.startDate) }}
                {{ form_widget(competition_edit.startDate) }}
                <div class='form-error'>
                    {{ form_errors(competition_edit.startDate) }}
            </div>

            <div class="form-group">
                {{ form_label(competition_edit.endDate) }}
                {{ form_widget(competition_edit.endDate) }}
                <div class='form-error'>
                    {{ form_errors(competition_edit.endDate) }}
            </div> 		    
            
            {{ form_row(competition_edit._token) }}

            <div class="form-group">
                {{ form_row(competition_edit.submit) }}
            </div>
        
        {{ form_end(competition_edit) }}   
    </div>
  </div
{% endblock %}