{% extends 'base.html.twig' %}

{% block title %}Liste des compétitions{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Compétitions</h1>

        {% for message in app.flashes('success') %}
          <div class="alert alert-success mt-4">
            {{message}}
          </div> 
        {% endfor %}
        
        <table class="table table-dark">
            <thead>
                <tr>
                  <th class="text-center" scope="col">Compétition</th>
                  <th class="text-center" scope="col">Type</th>  
                  <th class="text-center" scope="col">Lieu</th>                  
                  <th class="text-center" scope="col">Début</th>
                  <th class="text-center" scope="col">Fin</th>
                  <th class="text-center" scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>      
              {% for compet in competition_list %}
                <tr class='table-primary'>
                  <th scope="row">{{ compet.name }}</td>
	                <td>
                      {{ compet.competitionName.type }}       
                  </td> 
                  <td>{{ compet.location }}</td>
                  <td>{{ compet.startDate|date('d-m-Y') }}</td>
                  <td>{{ compet.endDate|date('d-m-Y') }}</td>
                  <td>           
                    <a href='{{ path('admin.competitions.delete', { id: compet.id}) }}' class= 'btn btn-danger'>Supprimer</a>               
                    <a href='{{ path('admin.competitions.edit', { id: compet.id}) }}' class= 'btn btn-success'>Editer</a>   
                   </td>        
                </tr>
              {% endfor %}
            </tbody>
        </table>
    </div>            
    {% if is_granted('ROLE_ADMIN') %}   
      <div class="container mt-4">         
      <a href ="{{ path('admin.competitions.new') }}" class="btn btn-primary">
            Nouvelle compétition
        </a>      
      </div>
    {% endif %}
{% endblock %}
