{% extends 'base.html.twig' %}

{% block title %}Liste des compétitions{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h3><strong>Compétitions - Admin</strong></h3>

        {% for message in app.flashes('success') %}
          <div class="alert alert-success mt-4">
            {{message}}
          </div> 
        {% endfor %}
        
        <table class="table table-light w-auto">
            <thead>
                <tr>
                  <th class="text-center" scope="col"></th>
                  <th class="text-center" scope="col"></th>                 
                  <th class="text-center" scope="col"></th>              
                  <th class="text-center" scope="col" colspan="2">Inscription</th>    
                  <th class="text-center" scope="col" colspan="2">Compétition</th>           
                  <th></th>
                </tr>
                <tr>
                  <th class="text-center col-2" scope="col">Compétition</th>
                  <th class="text-center" scope="col">Type</th>  
                  <th class="text-center" scope="col">Lieu</th>                  
                  <th class="text-center" scope="col">Début</th>
                  <th class="text-center" scope="col">Fin</th>
                  <th class="text-center" scope="col">Début</th>
                  <th class="text-center" scope="col">Fin</th>
                  <th class="text-center col-2" scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>      
              {% for compet in competition_list %}
                <tr class='table-primary'>
                  <th scope="row">{{ compet.name }}</td>
	                <td>
                      {{ compet.typecompetition.typecomp }}       
                  </td> 
                  <td>{{ compet.location }}</td>
                  <td>{{ compet.startRegistration|format_datetime(locale='fr',pattern='dd MMMM') }}</td>
                  <td>{{ compet.endRegistration|format_datetime(locale='fr',pattern='dd MMMM') }}</td>              
                  <td>{{ compet.startDate|format_datetime(locale='fr',pattern='dd MMMM y') }}</td>
                  <td>{{ compet.endDate|format_datetime(locale='fr',pattern='dd MMMM y') }}</td>
                  <td class="text-center">           
                    <a href='{{ path('admin.competitions.edit', { id: compet.id}) }}' class= 'btn btn-success btn'>Editer</a>   
                    <a href='{{ path('admin.competitions.delete', { id: compet.id}) }}' class= 'btn btn-danger btn-sm'>Supprimer</a>               
                   </td>        
                </tr>
              {% endfor %}
            </tbody>
        </table>
    </div>            
    <div class="container mt-4">         
    <a href ="{{ path('admin.competitions.new') }}" class="btn btn-primary">
        Nouvelle compétition
      </a>      
    </div>
{% endblock %}
