{% extends 'base.html.twig' %}

{% block body %}
  <div class 'container mt-4'>
    <h2 class= "mx-auto" style="width: 400px">Modifier un tracker </h2>

    {% for message in app.flashes('success') %}
      <div class="alert alert-success mt-4">
        {{ message }}
      </div>
    {% endfor %}
  
    <div class="mx-auto" style="width: 400px;">
      {{ form_start(tracker_edit) }}
        <div class="form-group">
          {{ form_label(tracker_edit.name) }}
          {{ form_widget(tracker_edit.name) }}
          <div class='form-error'>
            {{ form_errors(tracker_edit.name) }}
        </div>

        <div class="form-group">
          {{ form_label(tracker_edit.imei) }}
          {{ form_widget(tracker_edit.imei) }}
          <div class='form-error'>
            {{ form_errors(tracker_edit.imei) }}
        </div>

		    {{ form_row(tracker_edit._token) }}
        
        <div class="form-group">
          {{ form_row(tracker_edit.submit) }}
        </div>  
      {{ form_end(tracker_edit) }}   
    </div>
  </div
{% endblock %}