{% extends 'base.html.twig' %}

{% block title %}
  Trackers
{% endblock %}

{% block body %}
    <div class="container mt-4">
      {% if not tracker_list.items is same as ([]) %}
        <h1>Trackers</h1>

        {% for message in app.flashes('success') %}
          <div class="alert alert-success mt-4">
            {{message}}
          </div> 
        {% endfor %}

        <div class ="count mt-4">
          Il y a {{ tracker_list.getTotalItemCount }} trackers
        </div>
        
        <table class="table table-dark">
            <thead>
                <tr>
                  <th class="text-center" scope="col">Name</th>
                  <th class="text-center" scope="col">IMEI</th>
                  <th class="text-center" scope="col">Immat</th>
                  <th class="text-center" scope="col">Pilot</th>  
                  <th class="text-center" scope="col">Actions</th>                 
                </tr>
            </thead>
            <tbody>      
              {% for tracker in tracker_list %}
                <tr class='table-primary'>
                  <th scope="row">{{ tracker.name }}</td>
                  <td>{{ tracker.imei }}</td>
                  <td>{{ tracker.immat }}</td>
                  <td>{{ tracker.pilote }}</td>                  
                  <td>
                    {% if is_granted('ROLE_ADMIN') %}   
                          <a href='{{ path('trackers.edit', { id: tracker.id}) }}' class= 'btn btn-warning'>Modifier</a>            
                          <a href='{{ path('trackers.delete', { id: tracker.id}) }}' class= 'btn btn-danger'>Supprimer</a>   
                    {% endif %}            
                    <a href='{{ path('trackers.allocate', { id: tracker.id}) }}' class= 'btn btn-success'>Affecter</a>   
                  </td>        
                </tr>
              {% endfor %}
            </tbody>
        </table>
        {# display navigation#}
        <div class="navigation d-flex justify-content-center">
            {{ knp_pagination_render(tracker_list) }}
        </div> 
      {% else %}
        <h4> Pas de tracker </h4>
      {% endif %}
    </div>                          
    {% if is_granted('ROLE_ADMIN') %}   
        <a href ="{{ path('trackers.new') }}" class="btn btn-primary">
            Nouveau tracker
        </a>
    {% endif %}
{% endblock %}
